<div class="form-area">
    <div class="form-card-component">
        <mat-card>
            <form #resetForm="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()" class="form">
                <h1>
                    Forgot Password
                </h1>

                <mat-form-field>
                    <mat-label>New Password</mat-label>
                    <input formControlName="newPassword" type="password" matInput required>
                    <mat-error
                        *ngIf="resetPasswordForm.controls.newPassword.touched && resetPasswordForm.controls.newPassword.invalid">New
                        Password is required</mat-error>
                </mat-form-field>

                <button class="submit-btn" type="submit" [disabled]="resetPasswordForm.invalid" mat-raised-button color="accent"
                    appBlur>Submit</button>
            </form>
        </mat-card>
    </div>
</div>