<div class="form-area">
    <div class="form-card-component">
        <mat-card>
            <form #forgotForm="ngForm" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()" class="form">
                <h1>
                    Forgot Password
                </h1>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input formControlName="email" type="email" matInput required>
                    <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">Email is required</mat-error>
                </mat-form-field>

                <button class="submit-btn" type="submit" [disabled]="forgotPasswordForm.invalid" mat-raised-button color="accent" appBlur>Submit</button>
                <div class="change-options">
                    <a routerLink="/signup">Don't have an account? Sign Up</a>
                    <a routerLink="/login">Already have an account? Login</a>
                </div>
            </form>
        </mat-card>
    </div>
</div>