<div class="dashboard">
    <div class="dashboard-container">
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Total Category</mat-card-title>
                <h2>{{data?.categoryCount}}</h2>
                <button routerLink="/cafe/category" mat-flat-button color="primary" class="route-btn">
                    View Category
                </button>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Total Products</mat-card-title>
                <h2>{{data?.productCount}}</h2>
                <button routerLink="/cafe/product" mat-flat-button color="primary" class="route-btn">
                    View Product
                </button>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        <mat-card class="dashboard-card">
            <mat-card-header>
                <mat-card-title>Total Bills</mat-card-title>
                <h2>{{data?.billCount}}</h2>
                <button routerLink="/cafe/bill" mat-flat-button color="primary" class="route-btn">
                    View Bill
                </button>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
    </div>
</div>