
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.dashboard-card {
  max-width: 400px;
}

.sidebar-list {
  width: 200px;
}

.sidenav-container {
  height: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu button {
  margin-right: 10px;
}

.btn-logout {
  background-color: #e60f00;
  cursor: pointer;
  font-weight: 700;
  color: white;
  font-size: medium;
  padding: 10px 20px;
  border-radius: 15px;
  border: 5px solid white;
}