<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="navbar-container">
            <div class="navbar-menu">
                <button *ngIf="isLoggedIn" mat-icon-button (click)="toggleSidebar()"><mat-icon>menu</mat-icon></button>
                <span>Cafe Management System</span>
            </div>
            <div class="user-profile" *ngIf="isLoggedIn">
                <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
                    <mat-icon>account_circle</mat-icon>
                </button>
                <mat-menu #profile="matMenu">
                    <button mat-menu-item (click)="changePassword()">
                        <mat-icon>password</mat-icon> Change Password
                    </button>
                    <button mat-menu-item (click)="userLogout()">
                        <mat-icon>exit_to_app</mat-icon> Log Out
                    </button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>