<mat-drawer-container class="sidenav-container" autosize *ngIf="isLoggedIn">
    <mat-drawer #sidenav class="sidebar-list" mode="side" opened>
        <mat-nav-list>
            @for (item of menuItems.getMenuItem(); track $index) {
            <a [routerLink]="[item.state]" *ngIf="item.role==='' || item.role === tokenPayload.role">
                <mat-list-item routerLinkActive="selected">
                    <div class="sidebar-item">
                        <mat-icon>{{item.icon}}</mat-icon>
                        <p>{{item.name}}</p>
                    </div>
                </mat-list-item>
            </a>
            }
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>