<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">Change Password</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column" class="flex-inline-center">
            <mat-form-field fxFlex>
                <mat-label>Old Password</mat-label>
                <input id="old_password" formControlName="old_password" type="password" matInput required>
                <mat-error
                    *ngIf="changePasswordForm.controls.old_password.touched && changePasswordForm.controls.old_password.invalid">
                    <span *ngIf="changePasswordForm.controls.old_password.errors.required">Old Password is mandatory
                        field</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>New Password</mat-label>
                <input id="new_password" formControlName="new_password" type="password" matInput required>
                <mat-error
                    *ngIf="changePasswordForm.controls.new_password.touched && changePasswordForm.controls.new_password.invalid">
                    <span *ngIf="changePasswordForm.controls.new_password.errors.required">New Password is mandatory
                        field</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>Confirm Password</mat-label>
                <input id="confirm_password" formControlName="confirm_password" type="password" matInput required>
                <mat-error
                    *ngIf="changePasswordForm.controls.confirm_password.touched && changePasswordForm.controls.confirm_password.invalid">
                    <span *ngIf="changePasswordForm.controls.confirm_password.errors.required">Confirm Password is
                        mandatory field</span>
                </mat-error>
                <mat-hint *ngIf="validateSubmit() && (changePasswordForm.controls.confirm_password.valid)">
                    <span>New Password and Confirm Password does not match</span>
                </mat-hint>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="handleSubmit()" type="submit"
        [disabled]="validateSubmit() || !(changePasswordForm.dirty && changePasswordForm.valid)">Update</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>